!! colors {{{

*background: #002b36
*foreground: #657b83
!! black dark/light
*color0: #073642
*color8: #002b36
!! red dark/light
*color1: #dc322f
*color9: #cb4b16
!! green dark/light
*color2: #859900
*color10: #586e75
!! yellow dark/light
*color3: #b58900
*color11: #657b83
!! blue dark/light
*color4: #268bd2
*color12: #839496
!! magenta dark/light
*color5: #d33682
*color13: #6c71c4
!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1
!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

!! }}}
!! urxvt {{{
!! intall: urxvt, urxvt-perls, urxvt-fullscreen, urxvt-resize-font-git

urxvt.font: xft:xos4 Terminus:size=11:minspace=False,xft:DejaVu Sans:pixelsize=18,xft:Symbola,xft:Noto Emoji:minspace=False,xft:Monospace:size=9:antialias=true:hinting=true
urxvt.boldFont: xft:xos4 Terminus:size=11:bold:minspace=False,xft:DejaVu Sans:pixelsize=18,xft:Symbola,xft:Noto Emoji:minspace=False
urxvt.italicFont: xft:xos4 Terminus:size=11:italic:minspace=False,xft:DejaVu Sans:pixelsize=18,xft:Symbola,xft:Noto Emoji:minspace=False
urxvt.boldItalicFont: xft:xos4 Terminus:size=11:bold:italic:minspace=False,xft:DejaVu Sans:pixelsize=18,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt*letterSpace: 0

urxvt.transparent: false
urxvt*shading: 90

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext: default,url-select
URxvt.perl-ext-common: matcher,resize-font,fullscreen

!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!! matcher
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL: #7780a1

!! resize-font
URxvt.iso14755: false
URxvt.iso14755_52: false

!! fullscreen
URxvt.keysym.F11:          perl:fullscreen:switch
!! }}}
!! rofi {{{

rofi.matching: fuzzy
rofi.modi: drun,run
rofi.font: Michroma 15
rofi.location: 1
rofi.yoffset: 20
rofi.columns: 1
rofi.lines: 10
rofi.width: 100
rofi.color-window: #aa222222,#aa222222,#aa00ff00
rofi.separator-style: solid
! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #aa222222,#ffeeeeee,#aa222222,#aa000000,#ff00ff00
rofi.kb-mode-next: Tab,Shift+Right
rofi.kb-row-tab: Ctrl+Tab
rofi.hide-scrollbar: true

!!}}}
!! vim: foldmethod=marker foldlevel=0
!! Local Variables:
!! origami-fold-style: triple-braces
!! End: