.netrwhist
editors/.emacs.d/emacs.el
editors/.emacs.d/mysnippets/mysnippets
*.~undo-tree~
/xmonad/.xmonad/xmonad.o
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad.errors
/xmonad/.xmonad/xmonad-x86_64-linux
/vim/.config/nvim/.netrwhist
*.un~
*/*/.stack-work
/xmonad/.xmonad/my-xmonad.cabal
/spacemacs/.emacs.d/private/custom.el
/xmonad/.xmonad/myXmonad.cabal
/spacemacs/.emacs.d/private/local/firacode.el
/xmonad/.xmonad/dist-newstyle/*
/xmonad/.stack-work/
/xmonad/myXmonad.cabal
/other/.timewarrior/data
