snippet # "line" b
###############################################################################
endsnippet

snippet ## "2 lines" b
###############################################################################
$1
###############################################################################
endsnippet
